@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	background-color: #f9f9f9;
}
.prices{
	margin: 0;
	padding: 0;
}
.carousel-indicators li{
    width: 100%;
		margin: 0;
}
.title{
	margin-top: 50px;
}
.signup {
	margin-top: 50px;
	margin-bottom: 100px;
}
.navbar{
	background-color: #fff;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	padding: auto 80px;
}
.navbar-toggler {
	border: none;
}
.navbar-to-right{
	margin-left: auto;
	margin-right: 45px;
}
.btn:focus {
	box-shadow: none;
}
.form-control:focus {
	border-color: #ff7801;
	box-shadow: none;
}
.my-btn{
	background: -webkit-linear-gradient(-68deg, #e432d9, #ff7801);
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(-68deg, #e432d9, #ff7801);
}
.my-btn:hover {
	background: -webkit-linear-gradient(-68deg, #ff7801, #e432d9);
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(-68deg, #ff7801, #e432d9);
}
.dropdown-menu {
	top: 130% !important;
	border: none !important;
}
.dropdown-menu .dropdown-item.active, .dropdown-item:active {
	background: linear-gradient(-68deg, #e432d9, #ff7801);
}
.modal {
	height: auto;
}
.modal-dialog{
	margin: 28vh auto;
	max-width: max-content;
	width: 100%;
}
.modal-content {
	border: none;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
.modal-header {
	border: none;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.modal-header .close {
	margin: 0;
	font-size: 28px;
	padding: 0px 8px 5px 7px;
	color: white;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
	background: linear-gradient(-68deg, #e432d9, #ff7801);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	opacity: 1;
	border-radius: 5px;
}
.modal-body {
		padding: 10px 10px;
}
.modal-body img {
	border-radius: 3px;
	height: 25vh;
}
p{
	text-align: justify;
}
h1 {
	font-size: 38px !important;
	font-weight: bold;
}
.content {
	margin: 50px 0px;
}
.col-lg-12 {
	padding: 0;
}
.container-fluid {
	padding: 0;
}
.box-game {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.box-title {
	background: linear-gradient(-68deg, #e432d9, #ff7801);
	color: white;
	line-height: 0;
	font-size: 28px;
	padding: 15px 30px;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.box-description h3 {
	font-family: sans-serif;
	color: black;
	font-weight: bold;
	text-indent: 0px;
}
.box-description{
	padding: 30px;
	color: #131313;
	text-align: justify;
	text-indent: 60px;
	line-height: 1.7em;
}
.box-description p {
	margin-bottom: 5px;
}
h2 {
	margin-bottom: 0;
}
.box-right {
	height: 300px;
	margin-bottom: 30px;
}
.box-preview {
	margin-top: 15px;
	padding: 7px;
	height: 87%;
	background-color: white;
	display: flex;
	flex: column;
	flex-wrap: wrap;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.img-preview {
	margin: 1%;
	height: 48%;
	width: 48%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-radius: 3px;
}
.box-links {
	margin-top: 15px;
	padding: 10px 20px;
	background-color: white;
	display: flex;
	flex: column;
	justify-content: center;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.box-link{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px 10px 0 5px;
	color: #ff5f3a;
	font-size: 48px;
	line-height: 0;
}
.box-link:hover{
	margin: 0px 10px 0 5px;
	color: #ff3a3a;
	text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
	font-size: 48px;
	line-height: 0;
}
.row {
	display: flex;
	flex-direction: row;
}
.center {
	flex-wrap: wrap;
	justify-content: center;
  display: flex;
	flex-direction: row;
}
.wrap-100 {
	max-width: 100%;
	padding: 0 10px;
	margin: 125px 0px;
}
table tr th{
	padding: 10px;
}
table tr td{
	padding: 5px 15px;
}
.table100 {
  border-radius: 16px;
	overflow-x: auto;
  background: linear-gradient(-68deg, #e432d9, #ff7801);
}
.table100 table {
  background-color: transparent;
}
.table100 td {
	text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 2.4;
}
.table100 th {
	text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 3;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.32);
}
.table100 .footer{
	background-color: rgba(255,255,255,0.1);
}
.table100 .row100:hover td {
  background-color: rgba(255,255,255,0.1);
}
.table100 .hov-column-ver6 {
  background-color: rgba(255,255,255,0.1);
}
.table100 .row100 td:hover {
  background-color: rgba(255,255,255,0.2);
}
.bottom {
	padding-top: 35px;
	padding-bottom: 35px;
	background: linear-gradient(-68deg, #e432d9, #ff7801);
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}
.bottom-items {
	flex-wrap: wrap;
  display: flex;
	flex-direction: row;
}
.bottom ul{
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}
.bottom ul li{
	float: left;
	padding: 5px;
}
.bottom ul li a{
	color: #fff;
}
.social {
	padding: 0px 15px;
}
.bottom ul li p{
	color: #fff;
}
.bottom ul li a:hover {
	text-decoration: none;
}
.bottom ul li a:visited{
	color: #fff;
}

.form-control.success {
	border: 2px green solid;
}

@media (min-width: 690px) {
	.box-right{
		height: 910px;
	}
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.img-preview {
		margin: 1%;
		height: 48%;
		width: 48%;
	}
	.box-preview {
		margin-top: 15px;
		padding: 10px;
		height: 90%;
	}
	.modal-dialog{
		margin: 28vh auto;
		max-width: max-content;
		width: 100%;
	}
	.modal-body img {
		border-radius: 3px;
		min-height: 80vh;
	}
}
@media (min-width: 1015px) {
	.box-right{
		height: 565px;
	}
	.col-lg-12 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.dropdown-menu {
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	}
	.box-preview {
		margin-top: 0;
		padding: 7px;
		height: 87%;
	}
	.img-preview {
		margin: 1%;
		height: 48%;
		width: 48%;
	}
	.modal-body img {
		border-radius: 3px;
		min-height: 80vh;
	}
	.modal-dialog{
		margin: 22vh auto;
		max-width: max-content;
		width: 100%;
	}
}
@media (min-width: 700px) {
	.modal-body img {
		min-height: 50vh;
		max-height: 80vh;
	}
}
