<div class="user-comment">
    <div class="author-thumbnail">
      <img src="img/houtarou.jpg" alt="{0} profile photo">
    </div>
    <div class="comment-scope">
      <div class="header">
        <a href="#" class="author-text">
          <span>{0}</span>
        </a>
        <a href="#" class="time-text">
          <span>
            {1}
          </span>
        </a>
      </div>
      <div class="body">
        <p>{2}</p>
      </div>
      <div class="footer">
        <div class="group">
          <a type="button" class="btn" data-toggle="tooltip" data-placement="bottom" title="Like">
            <i class="fa fa-thumbs-up"></i>
          </a>
          <p>{3}</p>
        </div>
        <a type="button" class="btn" data-toggle="tooltip" data-placement="bottom" title="Unlike">
          <i class="fa fa-thumbs-down"></i>
        </a>
        <a class="btn comment">Reply</a>
      </div>
    </div>
</div>